version: '3'
services:
  web:
    build: 
      context: .
      dockerfile: Dockerfile.dev
    ports:
<<<<<<< HEAD
      - "3000:3000"
    volumes:
      - /app/node_modules
      - .:/app
=======
      - "4000:3000"
    volumes:
      - /app/node_modules
      - .:/app 
>>>>>>> 3ea6aa9555be7598d6be175d3b4d79381a0c0a82
  tests:
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - /app/node_modules
      - .:/app
    command: ["npm", "run", "test"]
